<!DOCTYPE html>
<html ng-app="themepark">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Demo</title>

<link rel="stylesheet" type="text/css" href="main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="rides.js"></script>
    
</head>


<body ng-controller="ThemeParkController as themepark">

<header role="banner">
<div id="logo"><img src="disneyrides.gif"></img></div>
</header>

<div id="page">

<div id="f">

<div id="filter">
<div id="filter-header">Filter</div>
<table>
<tr><td><select ng-model="themepark.nf" ng-options="nme.name for nme in themepark.uniquenames" ng-change="themepark.setFilter()" ></select></td></tr>
<tr><td><select ng-model="themepark.pf" ng-options="prk.park for prk in themepark.uniqueparks" ng-change="themepark.setFilter()" ></select></td></tr>
<tr><td><button ng-click="themepark.clearFilter()">Clear Filters</button></td><td>&nbsp;</td></tr>
</table>
</div>



<div id="datatable">

<table>

<tr class="header">
<td>Name<ride-nameheader></ride-nameheader></td>
<td>Park<ride-parkheader></ride-parkheader></td>
</tr>

<tr ng-repeat="ride in themepark.rides | orderBy:themepark.sortType:themepark.sortReverse | filter: {name:themepark.namefilter,park:themepark.parkfilter}">
<td><ride-name></ride-name></td>
<td><ride-park></ride-park></td>
</tr>

</table>
</div>




</div>
</div>

<footer>
<p>
&copy;2016 <a href="http://lucianjanik.com">Lucian Janik</a>
</p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1096162-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>




